@import "tailwindcss";

:root {
  --primary: #e9c664;
  --text-dark: #000;
  --text-white: #fff;
  --header-link: #979797;
  --counter: #212121;
}

@theme inline {
  /* colors */
  --color-primary: var(--primary);
  --color-textDark: var(--text-dark);
  --color-textWhite: var(--text-white);
  --color-headerLink: var(--header-link);
  --color-counter: var(--counter);
  /* fonts */
  --font-sans: var(--font-inter);
  --font-serif: var(--font-abril);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
